.jarvis-label {
  display: block;
  font-size: 12px;
  margin-bottom: 0px !important;
  height: 17px;
  width:100%;
}

/* .jarvis-input { */
  /* margin-top: 17px; */
/* } */
/* .jarvis-group { */
  /* height: 45px; */
/* } */
