<div class="accordion-tabs">
  <div class="header" (click)="onClickHeader()">
    <ng-container *ngIf="headerTemplate">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </ng-container>
    <div class="float-right">
      <i
        class="fa fa-1x"
        [ngClass]="{
          'fa-angle-right': !isContentVisible,
          'fa-angle-down': isContentVisible
        }"
      ></i>
    </div>
  </div>
  <div class="content" (click)="onClickContent()" *ngIf="isContentVisible">
    <ng-container *ngIf="contentTemplate">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </ng-container>
  </div>
</div>
